.about_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 90svw;
    margin: 2rem 6rem;
    border-radius: 20px;
}
.about_content h1{
    font-size: 2.6rem;
    font-family: var(--source);
    font-weight: 600;
    color: #3E2723;
    text-transform: capitalize;
}
.about_content{
    width: 50%;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 0rem;
}
.about_container img{
    width: 35%;
    border: none;
    border-radius: 25px;
}
.about_content p{
    width: 100%;
    font-family: var(--source);
    font-size: 1.4rem;
    line-height: 1.6rem;
    word-spacing: 0.1rem;
    color: #3e2723;
}

span:first-child{
    height: 15rem;
    width: 10rem;
    background-color: #3E2723;
}

.about_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  
  .top {
    flex-basis: 30%;
    text-align: start;
  }
  .top img{
    width: 50%;
  }
  .middle {
    flex-basis: 40%;
    text-align: end;
  }
  .middle img{
    width: 40%;
  }
  
  .bottom {
    flex-basis: 30%;
    text-align: left;
  }
  .bottom img{
    width: 50%;
  }
  
  