

.godown_card ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    text-decoration: none;
    list-style: none;
}
.godown_card ul li{
    border: 2px solid #3e2327;
    background-color: #d9d9d9;
    color: #3e2327;
    padding: 0.1rem 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.godown-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.godown-btn button {
  background-color: #8d6e63;
  width: 40%;
  color: #fff;
}



.godown_list {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: 4rem 3rem 1.5rem 3rem;
  }
  
  .godown_card {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--source);
    background-color: #d9d9d9;
  }
  
  .godown_card h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3e2723;
    text-align: start;
  }
  
  .godown_card p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #8d6e63;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
  }